{% load static %}

<link href="{% static 'css/base.css' %}" rel="stylesheet">
<link href="{% static 'css/base-font.css' %}" rel="stylesheet">
<link href="{% static 'css/table.css' %}" rel="stylesheet">
<link href="{% static 'css/generic.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap5.css' %}" rel="stylesheet">
<!-- <script src="{% static 'js/bootstrap5.bundle.js' %}" defer></script> -->
 <script src="{% static 'js/modal_update.js' %}" defer></script>
<script src="{% static 'js/sidebar.js' %}" defer></script>
<script src="{% static 'js/htmx.js' %}" defer></script>
<script src="{% static 'js/bootstrap5.bundle.js' %}" defer></script>

